/* Global Styles */

body {
	margin:0px;
	}

td {
	font-size:14pt;
	font-family: arial;
	/* color:#333333; */
        color:#17202A;
        /* color:#424949; */
	}
	
a {
    /* color: #4E387E; */
    /* color: #273746; */
    /* color: #424949; */
    text-decoration:none;
    /* font-weight:bold; */
	}
	
a:hover {
    color: #990000;
    text-decoration:underline;
}

a:visited {
    /* color:#0000FF; */
    color:#5F04B4;
}
/* ID Styles */

#navigation a {
	font:18px georgia;
	color: #ffffff;
	text-decoration:none;
	letter-spacing:0em;
	}
	
#navigation a:hover {
	color: #99CCFF;
	}

#padding {
	padding:20px 5px 20px 5px;
	}
	
#calendar td {
	border: 1px solid rgb(0,51,153);
	}
	
#noborder td {
	border: 0px;
	}
	
#weekdays th {
	font:11px arial;
	color: #ffffff;
	font-weight:bold;
	border: 0px;
	padding:2px;
	}

#calheader td {
	font-weight:bold;
	}

/* Class Styles */
.logo {
	font:20px georgia;
	color: #212F3C;
	letter-spacing:.2em;
	font-weight:bold;
	line-height:22px;
	}

.tagline {
	font:18px georgia;
	color: #212F3C;
	letter-spacing:.1em;
	}

.smallText {
	font:20px arial;
	/* color: #4E387E; */
        /* color: #273746; */
        color: #212F3C;
	line-height:1px;
	}

.smallerText {
	font:12px arial;
	/* color: #4E387E; */
        /* color: #273746; */
        color: #212F3C;
	line-height:1px;
	}

.pageHeader {
	font:30px times new roman;
	color: #CC3300;
	letter-spacing:.1em;
	line-height:38px;
	}
	
.bodyText {
	font:15px arial;
	/* color:#333333; */
        /* color:#212F3C; */
        color:#000000;
        /* color:#424949; */
	line-height:24px;
	}

.newsText {
	font:16px arial;
	/* color:#333333; */
        /* color:#212F3C; */
        color:#000000;
        /* color:#424949; */
	line-height:24px;
	}

ul.newsList li {
    margin-bottom: 10px;
}

.pageName {
	font:24px georgia;
	/* color: #342D7E; */
        color: #212F3C;
	letter-spacing:.1em;
	line-height:26px;
        font-weight:bold;
	}

.subPageName {
	font:19px georgia;
	/* color: #342D7E; */
        /* color: #212F3C; */
        color:#000000;
	letter-spacing:.05em;
	line-height:26px;
	}
	
.subHeader {
	font:14px times new roman;
	color: #003399;
	font-weight:bold;
	line-height:20px;
	letter-spacing:.1em;
	}
	
.navText {
	font:18px georgia;
	color: #FFFFFF;
	letter-spacing:.2em;
	}
	
.style2 {
	font:16px arial;
	color: #FFFFFF;
}

#footer {
	background: #252525;
	margin: 0;
	padding: 36px 0 42px;
}
#footer div {
	margin: 0 auto;
	overflow: hidden;
	padding: 0;
	width: 100px;
}
#footer div p {
	color: #fff;
	float: left;
	line-height: 44px;
	margin: 0 0 0 10px;
	padding: 0;
}
#footer div ul {
	display: block;
	float: right;
	margin: 0;
	overflow: hidden;
	padding: 0;
	width: 256px;
}
#footer div ul li {
	display: block;
	float: left;
	list-style: none;
	margin: 0 10px;
	padding: 0;
	width: 44px;
}
#footer div ul li a {
	background: url(../images/icons.jpg) no-repeat 0 0;
	display: block;
	height: 44px;
	margin: 0;
	padding: 0;
	text-indent: -99999px;
	width: 44px;
}
#footer div ul li #instagram {
	background: url(../images/icons/instagram.png) no-repeat 0 0;
	display: block;
	height: 44px;
	margin: 0;
	padding: 0;
	text-indent: -99999px;
	width: 44px;
}
#footer div ul li #instagram:hover {
	background: url(../images/icons/instagram.png) no-repeat 0 0;
	display: block;
	height: 44px;
	margin: 0;
	padding: 0;
	text-indent: -99999px;
	width: 44px;
}
#footer div ul li #twitter {
	background-position: 0 0;
}
#footer div ul li #twitter:hover {
	background-position: -44px 0;
}
#footer div ul li #facebook {
	background-position: 0 -44px;
}
#footer div ul li #facebook:hover {
	background-position: -44px -44px;
}
#footer div ul li #googleplus {
	background-position: 0 -88px;
}
#footer div ul li #googleplus:hover {
	background-position: -44px -88px;
}
#footer div ul li #pinterest {
	background-position: 0 -132px;
}
#footer div ul li #pinterest:hover {
	background-position: -44px -132px;
}

#facebook {
    background: url(media/icons/icon-facebook.jpg) no-repeat 0 0;
}

#linkedin {
    background: url(media/icons/linkedin.png) no-repeat 0 0;
}
.button {
  display: inline-block;
  border-radius: 4px;
  background-color: white;
  border: 1.5px solid gray;
  color: #008CBA;
  text-align: center;
  font-size: 18px;
  padding: 10px;
  width: 160px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
  /* box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19); */
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}

.button3 {
  background-color: white;
  border-radius: 4px;
  border: 1.5px solid gray;
  color: #008CBA;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  margin: 4px 2px;
  cursor: pointer;
}
.button3:hover {
  background-color: #008CBA;
  border-radius: 4px;
  border: 1.5px solid white;
  color: white;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  margin: 4px 2px;
  cursor: pointer;
}

.button2 {
  background-color: white; 
  color: black; 
  border: 2px solid #008CBA;
}

.button2:hover {
  background-color: #008CBA;
  color: white;
}

.button2 {border-radius: 4px;}